pkgbase = whatsapp-nativefier-nomaximize-hook
	pkgdesc = Pacman hook to make whatsapp-nativefier exit on close, instead of minimizing.
	pkgver = 1
	pkgrel = 1
	install = whatsapp-nativefier-nomaximize-hook.install
	arch = any
	license = MIT
	depends = whatsapp-nativefier
	source = whatsapp-nativefier-nomaximize.hook
	source = whatsapp-nativefier-nomaximize
	source = whatsapp-nativefier-nomaximize.patch
	sha256sums = 37ac3df31c8c470962181de663c3e440f6359cebfc2b56d5d2e890349ff53c1d
	sha256sums = eed0ac57e7f099cbf9760d982c90b719c8f844c2cffb1e1a7c22a1adf82abf77
	sha256sums = 0768dc9aeffa05e1dbca0fb7c8c5ed6b1f264a6aa3ff01c3d57c438c93472ddd

pkgname = whatsapp-nativefier-nomaximize-hook
